#column1 {
    display: inline-block;
    float: left;
    width: 60%;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(78, 96, 120, 1));
    height: inherit;
    text-align: center;
}

#column2 {
    display: inline-block;
    float: left;
    width: 40%;
    background-color: white;
    height: inherit;
}

#containerSite {
    width: auto;
    color: rgb(78, 96, 120);
    font-family: "Times New Roman", Times, serif;
}

#header {
    height: 150px;
    /*border-bottom: white solid 1px;*/
}

#banner {
    float: left;
    width: 60%;
    background: url("../img/flexidatingBanner.jpg") no-repeat;
    background-size: cover;
    height: inherit;
}

#menuTopRight {
    float: left;
    width: 40%;
    background-color: rgb(78, 96, 120);
    height: inherit;
    position: relative;
}

#deKnop17 {
    background-color: white;
    color: rgb(78, 96, 120);
    border-style: none;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 140px;

}

#deKnop18 {
    background-color: white;
    color: rgb(78, 96, 120);
    width: 120px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#deKnop14b {
    background-color: white;
    color: rgb(78, 96, 120);
    width: 120px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#manwoman {
    padding-top: 7%;
}

#containerLogin {
    /*border: 8px outset rgb(78, 96, 120);*/
    border-style: solid;
    border-width: 8px;
    border-top-color: rgb(78, 96, 120);
    border-left-color: rgb(78, 96, 120);
    border-right-color: rgba(78, 96, 120, 0.5);
    border-bottom-color: rgba(78, 96, 120, 0.5);
    border-radius: 20px;
    height: 80%;
    margin: 10% 20%;
    position: relative;
    text-align: center;
}

#containerMail {
    /*border: 8px outset rgb(78, 96, 120);*/
    border-style: solid;
    border-width: 8px;
    border-top-color: rgb(78, 96, 120);
    border-left-color: rgb(78, 96, 120);
    border-right-color: rgba(78, 96, 120, 0.5);
    border-bottom-color: rgba(78, 96, 120, 0.5);
    border-radius: 20px;
    height: 50%;
    margin: 10% 20%;
    position: relative;
    text-align: center;
}

#loginLabel {
    display: inline-block;
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: 2em;
    font-weight: bold;
}

#inschrijvenLabel {
    display: inline-block;
    margin-top: 20%;
    margin-bottom: 10%;
    font-size: 2em;
    font-weight: bold;
}

#loginOptie {
    display: none;
}

#login_email {
    display: inline-block;
    margin-bottom: 10%;
}

#email {
    display: inline-block;
    margin-bottom: 10%;
}

#nickname {
    display: inline-block;
    margin-bottom: 10%;
}

#deKnop14 {
    border-style: none;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(78, 96, 120);
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


img {
	margin-right:1em;
	float:left;
}

.thumb {
    border-style: solid;
    border-width: 2px;
	border-color: blue;
	background:white;
	width:110px;
	height:130px;
	padding:0.625em;
	margin:0.625em;
	float:left;
}

.thumb:hover {  background:#99ffff;  color:#0000cc; }

.caption {
	clear:left;
}


#footer {
    clear: both;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer p {
    margin-top: 0 px;
}

#midden {
    clear: both;
    //height: 800px;
	height: 75vh;
	
    border-bottom: 2px solid white;
    width: 100%
}

div#kolom1 {
    float: left;
    width: 20%;
    background-image: linear-gradient(to left, rgba(78, 96, 120, 0.2), rgba(78, 96, 120, 1));
    height: inherit;
    color: white;
	

}

div#kolom2 {
    float: left;
    width: 60%;
    background-color: rgba(78, 96, 120, 0.2);
    height: inherit;
	
}

div#kolom2a input {
    float: right;
}

/* nieuwe toevoeging */

div#kolom2a select {
    float: right;
}

#kolom2a {
    float: left;
    padding-right: 20%;
    padding-left: 10%;
    width: 40%;
    padding-top: 5%;
}

#kolom2b {
    float: left;
    width: 30%;
    padding-top: 10%;
}

div#kolom3 {
    float: left;
    width: 20%;
    background-image: linear-gradient(to right, rgba(78, 96, 120, 0.2), rgba(78, 96, 120, 1));
    height: inherit;
    text-align: center;
}

#nav {
    width: 200px;
    height: 100%;
    background-image: linear-gradient(to left, rgba(78, 96, 120, 0), rgba(78, 96, 120, 0.9));
    color: #fff;
    overflow: hidden;
}

.nav ul {
    padding: 0;
    width: 200px;
    margin: 0 auto;
    list-style: none;
    text-align: left;
}

#progressBar {
    background-color: white;
    height: 30px;
    width: 100px;
    margin: auto;
    border: white solid 1px;
}

#progressBarInside {
    height: 30px;
    background-color: rgba(78, 96, 120, 0.8);
    width: 1px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#barText {height: 30px; display: table-cell; vertical-align: middle;}

#containerOverzicht {
    text-align: center;
    margin-top: 50px;
	height:85%;
	overflow-Y:scroll;
}



#openSearch, #closeSearch {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to left, rgba(78, 96, 120, 0.85), rgba(78, 96, 120, 1));
    border-style: none;
}

#eersteZoek{margin-top: 0;}

#voortgangProfiel {color: white; text-align: center;}




